@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.width {
  /* max-width: 300px;
  margin: auto; */
}


/* .page-active {
  color: blue;
} */
.page-active {
  border-width: 4px;
  border-color: #fff;
  border-top-color: red;
  color: red;

  /* position: relative;
  outline: 4px solid #fff;
  outline-offset: 0; */
}

/* .page-active::before {
  content: "";
  position: absolute;
  top: -4px; 
  left: 0;
  right: 0;
  height: 4px;
  background-color: red; 
  z-index: 1;
} */


.article-view-content {
  height: 0px;
  /* animation-name: article-view-content-animation-animation; */
  animation-iteration-count: 1;
  animation-duration: .3s;
  animation-timing-function: ease-out;
  /* animation-direction: alternate; */
  animation-fill-mode: both;
}

@keyframes article-view-content-animation {
  from {
    height: 0px;
  }
  to {
    height: 100px;
  }
}
@keyframes article-view-content-animation-reverse {
  from {
    height: 100px;
  }
  to {
    height: 0px;
  }
}


.article-option { 
  height: 0px;
  animation-iteration-count: 1;
  animation-duration: .50s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  overflow: hidden;
  /* animation-name: article-option-animation; */
}

@keyframes article-option-animation {
  from {
    height: 0px;
  }
  to {
    height: 360px;
  }
}
@keyframes article-option-animation-reverse {
  from {
    height: 360px;
  }
  to {
    height: 0px;
  }
}

.article-option-icon {
  /* animation-name: article-option-icon-animation; */
  animation-duration: .50s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes article-option-icon-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes article-option-icon-animation-reverse {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}






.rotate-animation {
  /* animation-name: rotate-animation; */
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate-animation-reverse {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.height-animation {
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  overflow: hidden;
  height: 0px;
}

@keyframes height-animation {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

@keyframes height-animation-reverse {
  from {
    height: 200px;
  }
  to {
    height: 0px;
  }
}

.animation-menu-tienda {
  transform: translateX(-100%);
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes animation-menu-tienda {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes animation-menu-tienda-reverse {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}